/* Credit not needed but is appreciated.
   styles.css by Thuong */

@font-face {
    font-family: 'Ken Vector Future';
    src: url('./fonts/kenvector_future2.ttf') format("truetype");
}

@font-face {
    font-family: 'Ken Vector Future Thin';
    src: url('./fonts/kenvector_future_thin2.ttf') format("truetype");
}

header,
.footer {
    position: absolute;
}

header{
    max-width: calc(100% - 36px);
}
header h1 {
    margin-bottom: 0;
}
header p {
    margin-top: 0;
}

canvas {
    margin: 11px;
    border: 2px black solid;
    background: rgb(30, 30, 30);
}

body {
    margin-top: 0;
    margin-left: 0;
    background: rgb(10, 10, 10);
    overflow: hidden;
}

#canvasBackDiv {
    padding: 3px;
    width: max-content;
    border-radius: 1em;
    background: linear-gradient(to right, #5800E2, #FF00E6);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p a {
    background: #12c2e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    width: max-content;
}

h1,
h2 {
    background: #12c2e9;
    background: -webkit-linear-gradient(45deg, #5800E2, #FF00E6);
    background: linear-gradient(45deg, #5800E2, #FF00E6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Ken Vector Future Thin";
}

p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#screen-overflow {
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #12c2e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f77d85, #cc94e7, #56d1ec);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f77d85, #cc94e7, #56d1ec);
}

#loadbar-gradient {
    z-index: 2;
    border-radius: 0.75em;
    position: absolute;
    top: 45%;
    left: 25%;
    right: 75%;
    bottom: 55%;
    width: 50%;
    height: 50px;
    background: linear-gradient(to right, rgb(64, 0, 167), rgb(189, 0, 170));
}

#loadbar-outline {
    background-color: rgb(80, 50, 100);
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    right: calc(100% - 5px);
    bottom: calc(100% - 5px);
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 0.5em;
}

#loadbar-progress {
    z-index: inherit;
    background: linear-gradient(to right, #5800E2, #FF00E6);
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    right: calc(100% - 3px);
    bottom: calc(100% - 3px);
    height: calc(100% - 6px);
    min-width: calc((100% - 6px)/55);
    border-radius: 0.25em;
}

#loadbar-progress p {
    margin-top: 9px;
    text-align: center;
    padding: 0 6px;
    font-family: "Ken Vector Future Thin", "Courier New", Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
}